<nav id="menu">
	<ul class="links">
		<li><a href="index.php">INDICE</a></li>
		<li><a href="victor.php">La página de Víctor</a></li>
		<li><a href="rita.php">La página de Rita</a></li>
		<li><a href="adiez.php">La página de Adiez</a></li>
		<li><a href="mfresneda.php">La página de mfresneda</a></li>
		<li><a href="adiez.php">La página de Adiez</a></li>
		<li><a href="ricardo.php">La página de Ricardo</a></li>

	</ul>
</nav>